.cq-qa-container {
  width: 90vw;
}
.cq-question-container {
  height: 15vh;
}
.cq-question {
  font-size: 1.7rem;
}
.cq-mc-container {
  display: grid;
  grid-auto-rows: repeat(3,1fr);
  text-align: left;
  list-style: none;
  padding: 0;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.cq-mc-container li {
  display: grid;
  grid-template-columns: 8% 92%;
  border-radius: 5px;
  background-color: #119DA4;
  cursor: pointer;
  margin: 0.5% 0;
  padding: 10% 2%;
  font-size: 1.3rem;
  transition: background-color 0.5s;
}
.cq-mc-container li:hover {
  background-color: #49C6E5;
  color: #000;
}
.cq-mc-container li:focus {
  outline-width: 0;
  color: #000;
  background-color: #49C6E5;
  border: 1px solid #FDFFFF;
}

@media only screen and (min-width: 550px) {
  .cq-question-container {
    height: 7vh;
  }
}
@media only screen and (min-width: 768px){
  .cq-question {
    font-size: 2rem;
  }
  .cq-mc-container li {
    padding: 9% 2%;
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .cq-question-container {
    height: 5vh;
  }
  .cq-mc-container li {
    padding: 6.5% 2%;
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1200px) {
  .cq-mc-container li {
    padding: 5% 2%;
    margin: 0.1% 0;
  }
  .cq-question-container {
    height: 4vh;
  }
}
@media only screen and (min-width: 1300px) {
  .cq-mc-container li {
    padding: 4.5% 2%;
  }
  .cq-question-container {
    height: 1vh;
  }
}
