.cq-quiz-container {
  height: 90%;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.invisible {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cq-quiz-container {
    height: 98%;
  }
  .cq-nextbutton {
    width: 140px;
    height: 65px;
    font-size: 1.3rem;
    margin-top: 3%;
  }
  .cq-nextbutton:hover {
    height: 70px;
    width: 145px;
  }
}
@media only screen and (min-width: 1024px) {
  .cq-quiz-container {
    height: 100%;
  }
  .cq-nextbutton {
    width: 170px;
    font-size: 1.5rem;
    margin-top: 2%;
  }
  .cq-nextbutton:hover {
    width: 175px;
  }
}
@media only screen and (min-width: 1024px) {
  .cq-nextbutton {
    margin-top: 1%;
  }
}
