.cq-main-container {
  width: 95%;
  height: 90%;
  display: grid;
  cursor: auto;
}
.cq-virus {
  position: absolute;
  color: #FDFFFF;
  top: 0;
  left: 0;
  animation-name: moveVirus;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cq-virus i {
  font-size: 4rem;
}
@keyframes moveVirus {
  0% {right: initial; left: 0; bottom: initial; top: 0; color: #FDFFFF;}
  25% {right: initial; left: 0; bottom: initial; top: 0; color: #FDFFFF;}
  50% {right: 0; left: initial; bottom: initial; top: 0; color: #119DA4;}
  75% {right: 0; left: initial; bottom: 0; top: initial; color: #B10F2E;}
  100% {right: initial; left: 0; bottom: 0; top: initial; color: #49C6E5;}
}
.cq-home {
  height: 50%;
  margin-top: 10%;
  align-self: center;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.cq-form {
  width: 50%;
  height: 65%;
  justify-self: center;
  display: grid;
  justify-items: center;
}
.cq-username {
  width: 90%;
  background-color: #119DA4;
  color: #FDFFFF;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.4rem;
}
.cq-username:focus {
  outline-width: 0;
}
.cq-username::placeholder {
  color: #FDFFFF;
}
.cq-start-button {
  width: 90%;
  height: 80%;
  margin-top: 7%;
  background-color: #B10F2E;
  color: #FDFFFF;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: width 0.8s, height 0.8s;
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
}
.cq-start-button:hover {
  width: 95%;
  height: 85%;
}
.invisible {
  display: none;
}

@media only screen and (min-width: 768px) {
  .cq-form {
    width: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  .cq-home {
    margin-top: 5%;
  }
  .cq-form {
    height: 70%;
  }
  .cq-username {
    font-size: 1.5rem;
  }
  .cq-start-button {
    font-size: 1.5rem;
    margin-top: 4%;
  }
}
@media only screen and (min-width: 1200px) {
  .cq-home h1 {
    font-size: 2.5rem;
  }
  .cq-form {
  	width: 20%;
  }
}
