.cq-main-container {
  width: 95%;
  height: 90%;
  display: grid;
  cursor: auto;
}
.cq-home {
  height: 50%;
  margin-top: 10%;
  align-self: center;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.cq-title-container {
}
.cq-form {
  width: 50%;
  height: 60%;
  justify-self: center;
  display: grid;
  justify-items: center;
  margin-top: 5%;
}
.cq-username {
  width: 90%;
  background-color: #119DA4;
  color: #FDFFFF;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.4rem;
}
.cq-username::placeholder {
  color: #FDFFFF;
}
.cq-start-button {
  width: 90%;
  height: 80%;
  margin-top: 7%;
  background-color: #B10F2E;
  color: #FDFFFF;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: width 0.8s, height 0.8s;
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
}
.cq-start-button:hover {
  width: 95%;
  height: 85%;
}
.invisible {
  display: none;
}
